.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.primary-btn {
	font-size: 16px;
	color: #080808;
	background: #def204;
	display: inline-block;
	font-weight: 700;
	padding: 12px 30px 10px;
	border-radius: 5px;

}

.primary-btn1 {
	font-size: 16px;
	color: #ffffff;
	background: #0c05df;
	display: inline-block;
	font-weight: 700;
	padding: 12px 30px 10px;
	border-radius: 5px;
}

.banner-section {
	height: 800px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.hs-text span {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.hs-text h3 {
	color: #ffffff;
	font-size: 30px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 10px;
}

.hs-text h2 {
	color: #e4d612;
	font-size: 30px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 10px;
}
.hs-text p {
	color: #ffffff;
	margin-bottom: 45px;
}
