.catalog__example {
    max-width: 1110px;
    margin: 0px auto 80px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, 350px);
}
.catalog__title{
    line-height: 44.2px;
    width: 500px;
    margin: 80px auto 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 34px;
    color: #094882;
}

.catalog__example .card{
    background: #F2F2F2;
    border-radius: 6px;
    // border:1px solid red;
}
.card__picture img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.card__text{
    padding: 20px;
}
.card__description{
    color: #666666;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.1em;
}
.card__name{
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 245%;
}
.card__price{
    font-weight: 600;
    font-size: 16px;
}
.card .but-order{
    margin-top: 15px;
    @include button_order;
}