.price-container{
    background: $main-color;
    height: 883px;
}
.price-info{
    max-width: 538px;
    text-align: center;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;

}
.price-info h2{
    @include h2;
    color: #FFE70D;
    margin-bottom: 30px;
}
.price-info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}
.price-blocks{
    display: grid;
    grid-template-columns: repeat(3, 348px);
    gap:30px;
    justify-content: center;
    margin-top: 42px;
}
.price-blocks__light-letters,
.price-blocks__neon,
.price-blocks__plastic{
    background: #FFFFFF;
    height: 491px;
}
.price-blocks .but-order{
    margin-top: 15px;
    @include button_order;
}
.price-blocks .but-order:hover{
    @include button_order_hover;
}
.price-blocks__light-letters{
    display: grid;
    align-content: space-between;
    text-align: center;
}
.price-blocks__light-letters_description {
     margin-top: 40px;
     margin-left: 30px;
     margin-right: 30px;
}

.price-blocks__light-letters_description .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #4D4D4D;
    }
.price-blocks__light-letters_description hr{
    margin-top:15px;
    margin-bottom:15px;
    color:#CECECE;
}

.price-blocks__light-letters_description .price{
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: $main-color;
}
.price-blocks__light-letters_description .price-units{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $main-color;
}
.price-blocks__light-letters_description .advantage{
    @include smallGrayText;
}
.price-blocks__light-letters_description .design-term{
    @include smallGrayText;
}
.price-blocks__light-letters_description .lead-time{
    @include smallGrayText;
}
.price-blocks__light-letters_but-order{
    margin-bottom: 38px;
}