@import './base/reset';
@import './base/vars';
@import './base/mixins';
@import './base/base';

/* blocks scss imports */
@import './blocks/catalog';
@import './blocks/partnership';
@import './blocks/clients';
@import './blocks/callback_section';
@import './blocks/price';