/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* colors */
/* breakpoints */
body {
  font-family: 'Open Sans', sans-serif;
}

/* blocks scss imports */
.pertnership {
  max-width: 1090px;
  margin: 0 auto;
  padding: 80px 0;
}

@media (max-width: 1200px) {
  .pertnership {
    padding: 80px 20px;
  }
}

@media (max-width: 768px) {
  .pertnership {
    padding: 50px 14px;
  }
}

.pertnership-container {
  background-color: #F2F2F2;
}

.pertnership h2 {
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
  line-height: 130%;
  text-align: center;
  color: #094882;
  max-width: 590px;
  margin: 0 auto 50px;
}

@media (max-width: 992px) {
  .pertnership h2 {
    font-size: 28px;
  }
}

.pertnership .undertitle {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  color: #094882;
  margin-bottom: 20px;
}

.pertnership-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .pertnership-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.pertnership-content__item {
  width: calc((100% - 50px * 3)/4);
}

@media (max-width: 992px) {
  .pertnership-content__item {
    width: calc((100% - 20px * 3)/4);
  }
}

@media (max-width: 768px) {
  .pertnership-content__item {
    width: calc((100% - 20px)/2);
  }
}

@media (max-width: 576px) {
  .pertnership-content__item {
    width: 100%;
  }
  .pertnership-content__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.pertnership-content__item-title {
  color: #094882;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}

.pertnership-content__item-title span {
  font-size: 80px;
  line-height: 130%;
}

@media (max-width: 992px) {
  .pertnership-content__item-title span {
    font-size: 60px;
  }
}

.pertnership-content__item-subtitle {
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 10px;
}

.pertnership-content__item-text {
  color: #4D4D4D;
  line-height: 22px;
  font-size: 14px;
}

.callback-section__main {
  background-color: #094882;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/assets/images/background-image.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.callback-section__form {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  padding: 50px;
  padding-bottom: 39px;
  margin-bottom: 81px;
  border-radius: 6px;
}

.callback-section__form-item {
  margin: 15px;
  width: 379px;
  height: 42px;
  border-radius: 6px;
  border: 2px solid #e0e2e4;
  padding-left: 15px;
  color: #737373;
  font-size: 16px;
  font-weight: 400;
}

.callback-section__btn {
  width: 400px;
  height: 48px;
  background-color: #094882;
  color: #FFFFFF;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
}

.callback-section__btn:hover {
  background-color: #FFFFFF;
  color: #094882;
}

.callback-section__text1 {
  color: #FFE70D;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  max-width: 657px;
  margin-top: 84px;
}

.callback-section__text2 {
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 40px;
  font-weight: 400;
}

.callback-section__text3 {
  color: #737373;
  text-align: start;
  font-size: 12px;
  max-width: 397px;
  padding-top: 20px;
  font-weight: 400;
}

.price-container {
  background: #094882;
  height: 883px;
}

.price-info {
  max-width: 538px;
  text-align: center;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.price-info h2 {
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
  line-height: 130%;
  color: #FFE70D;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .price-info h2 {
    font-size: 28px;
  }
}

.price-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.price-blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (348px)[3];
      grid-template-columns: repeat(3, 348px);
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 42px;
}

.price-blocks__light-letters,
.price-blocks__neon,
.price-blocks__plastic {
  background: #FFFFFF;
  height: 491px;
}
/*# sourceMappingURL=main.css.map */